---
---

<section class="comments" aria-labelledby="comments-title">
  <div class="comments__header">
    <p class="eyebrow">discussion</p>
    <h2 id="comments-title">Comments</h2>
    <p>Comments are powered by GitHub Discussions. A GitHub account is required to participate.</p>
  </div>
  <script
    src="https://giscus.app/client.js"
    data-repo="Naees/NaeesSecurity"
    data-repo-id="R_kgDOTAHAGQ"
    data-category="General"
    data-category-id="DIC_kwDOTAHAGc4C_itQ"
    data-mapping="pathname"
    data-strict="1"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="transparent_dark"
    data-lang="en"
    crossorigin="anonymous"
    async>
  </script>
</section>
